@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Geologica:wght@100..900&display=swap");

:root {
  --MainFont: "Afacad Flux", sans-serif;
  --FirstColor: #390155;
  --SecondColor: #a356cc;
  --ThirdColor: #10947e;
  --FourthColor: #2bf9c5;
  --FifthColor: #fefefe;
  --SixthColor: #171616;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--MainFont);
  text-transform: uppercase;
}

body {
  height: 100vh;
  width: 100%;
  transition: 0.3s linear;
  background-image: linear-gradient(
    to bottom right,
    var(--SixthColor),
    #390155e6
  );
}

body.LigthTheme {
  --FirstColor: #390155;
  --SecondColor: #a356cc;
  --ThirdColor: #10947e;
  --FourthColor: #2bf9c5;
  --FifthColor: #fefefe;
  --SixthColor: #171616;
}
